<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>娱乐</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=YL53,FOCUSYL53</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>财经</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=CJ33,FOCUSCJ33,HNCJ33</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>军事</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=JS83,FOCUSJS83&amp;gv=5.1.0&amp;av=5.1.0&amp;uid=864103028858691&amp;deviceid=864103028858691&amp;proid=ifengnews&amp;os=android_19&amp;df=androidphone&amp;vt=5&amp;screen=1080x1776&amp;publishid=6109&amp;action=default</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>科技</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=KJ123,FOCUSKJ123</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>体育</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=TY43,FOCUSTY43,TYLIVE</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>汽车</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=QC45,FOCUSQC45</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>时尚</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=SS78,FOCUSSS78</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<false/>
		<key>newsTitle</key>
		<string>文化</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=WH25,FOCUSWH25</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>房产</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=FC81,FOCUSFC81</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>游戏</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=YX11,FOCUSYX11</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>FUN来了</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=DZPD,FOCUSDZPD</string>
	</dict>
	<dict>
		<key>newsIsSubscribe</key>
		<true/>
		<key>newsTitle</key>
		<string>历史</string>
		<key>newsPlistName</key>
		<string>http://api.iclient.ifeng.com/ClientNews?id=LS153,FOCUSLS153</string>
	</dict>
</array>
</plist>
